body {
	background-color: #009;
	background-repeat: repeat;
	background:url(../img/error/container/repeat-bg_s1.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
}

/**
 * Overrides
 */
.container{
	width:934px;
	margin-top:18px;
}
.container-main{
	width:914px;
	overflow:visible;
	min-height:600px;
	position:relative;
	margin-bottom:31px;
	background-color:#fff;
	box-shadow:0px 5px 10px #0D293B;
}
.shadow{
	height:1118px;
	width:10px;
	display:block;
	background:url(../img/error/container/dropshadow.png) no-repeat transparent;
}
.shadow-last{
	background-position:-9px 0;
}

.header{
	background:url(../img/error/container/header-bg.jpg) no-repeat;
	width:914px;
	height:113px;
	display:block;
}
.header-divider{
	height:6px;
	width:914px;
	background-color: #00609D;
}
.logo{
	width:299px;
	height:106px;
	display:block;
	background:url(../img/error/container/qalanjo-logo.png) no-repeat;
	margin:20px 0 0 0;
}
.couple-top{
	background:url(../img/error/container/couple-top.png) no-repeat;
	width:208px;
	height:102px;
	margin:15px 0 0 0;
}
.communicate{
	background:url(../img/error/container/communicate.png) no-repeat;
	width:396px;
	height:95px;
	margin-top:12px;
	display:block;
}
.questionnaire-container{
	width:100%;
	min-height: 760px;
	margin:15px 10px 0 10px;
}
.questionnaire-container .questionnaire-header{
	width:867px;
	height:16px;
	margin:0;
	background: url(../img/error/container/container-questionnaire-repeat.jpg) repeat-x #fff;
	padding:15px 7px 15px 16px;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	
}



.item-set{
	border:1px solid #c0c0c0;
	min-height:590px;
	width:890px;
	display:block;
}
.item-set-content{
	padding:2px 0 2px 23px;
	width:868px;
}
.block-set{
	list-style-type:none;
	margin-bottom:25px;
	padding:0;
	width:802px;
	border-radius:5px;
	border:1px solid #cccccc;
	min-height:100px;
	padding:15px 20px;
	
}
.block-set-blue{
	background-color:#F3F3F3;
}

