@font-face{
	font-family: "Myriad Pro";
	url("fonts/MYRIADPRO-REGULAR.OTF");
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
h1.change{
	margin:42px 0 40px 39px;
	color:#005F9D;
	font-size:33px;
	font-family: "Myriad Pro", Arial, Helvetica sans-serif;
}
.change-password-cap{
	height:50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border:1px solid #ccc;
	margin:0 119px;
	width:545px;
	padding:40px 100px 27px 38px;
}
.change-password-cap h2{
	margin-bottom:9px;
	font-weight:bolder;
	font-size:22px;
	color:#333;
}
.change-password-cap p{
	margin:-5px 0 8px 0;
	font-size:13px;
	font-family: "Myriad Pro", Arial, Helvetica sans-serif;
	line-height:.5em;
}
.change-password-cap .shadow{
	width:600px;
	height:4px;
	background:url(../img/blue/changepassword/drop-shadow-text.png);
}
.orange-side{
	width:119px;
	background: url(../img/blue/changepassword/gradient_orange.png) repeat-x #FEC44D;
	height:167px;	
}
.change-main-container{
	width:683px;
	min-height:100px;
	background:#F2F9FD;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-radius:0 0 10px 10px;
	text-align:center;
	margin-bottom:50px;
}
.change-form{
	margin:auto;
	text-align:left;
	width:380px;
	height:300px;
}
h3.required{
	color:#C11A00;
	width:100%;
	font-size:16px;
	border-bottom:1px solid #C11A00;
	margin-top:24px;
}
h3.required span.account{
	font-style: italic;
}
ul.choices{
	list-style-type:none;
	padding:0;
	margin: 0;
}
ul.choices span.label{
	color:#005F9D;
	font-size:18px;
	font-weight: bold;
}
ul.choices label{
	color:#005F9D;
	font-size:18px;
	font-weight: bold;
}
dl.choice{
	margin:0 0 0 30px;
	padding:0;
	
}
dl.choice dd{
	padding:0;
	margin:0;
}
dl.choice input[type=text]{
	width:302px;
	height:29px;
	border:1px solid #d3d3d3;
	padding:5px;
	font-size:14px;
}
dt.label{
	color:#005F9D;
	font-size:14px;
	font-weight: bold;
}
dt.labelgray{
	color:#666;
	font-size:14px;
	font-weight: bold;
}
.button-set{
	width:100%;
	height:91px;
	border-top:1px solid #ccc;
	background: url(../img/blue/changepassword/forgot-password-gradient.png) repeat-x #f3f4f5;
	border-radius:0 0 10px 10px;
	
}
.button-set .send-instruction{
	width:122px;
	height:39px;
}
.button-set div.right{
	margin:25px 21px 0 0;
}
.button-set .cancel{
	width:87px;
	height:39px;
}
.button-set .buttonsave{
	background: url(../img/blue/changepassword/savebutton.png) no-repeat;
	height:39px;
	width:75px;
	border:none;
	cursor:pointer;
}
.button-set .buttonsave:hover{
	background-position:0px -41px;
}
.button-set .buttonsave:active{
	background-position:0px -82px;
}
.button-set .buttonclear{
	background: url(../img/blue/changepassword/clearbutton.png) no-repeat;
	height:39px;
	width:75px;
	border:none;
	cursor:pointer;
}
.button-set .buttonclear:hover{
	background-position:0px -41px;
}
.button-set .buttonclear:active{
	background-position:0px -82px;
}